@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');

:root {
    --main-txt-color: #626262;
    --main-title-color: #363636;
    --cyan-color: #25e6c8;
    --blue-color: #2baaec;
    --background-color: #DEDEDE;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}

.btn {
    padding: .75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    /* display: inline-block; */
    font-weight: 600;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    margin-top: 1.5rem;
    
}

a {
    text-decoration: none;
    color: var(--blue-color);
    
}
a:hover {
    color: var(--cyan-color);
}

p {
    font-size: 16px;
    color: var(--main-txt-color);
}
h3 {
    font-size: 16px;
    color: var(--main-title-color);
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}
h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
    color: var(--main-title-color);
    font-weight: 400;
}

/* TOPNAV */
#clock {
    color: var(--blue-color);
    height: 20px;
    width: 20px;
}

.top-nav .container {
    padding: .5rem 1rem;
}

.line-1 {
    height: 1px;
    background-color: #bdbbbb;
}

.social-icons {
    display: none;
}
.icons {
    margin-left: 1.5rem;
}

.clock {
    margin-top: .3rem;
    text-align: center;
    margin-right: .5rem;
    margin-left: .5rem;
}

/* HEADER */

.navbar .container {
    justify-content: flex-end;
    padding: 2.5rem 1rem;
}
.navbar-brand {
    margin-right: auto;
}
.navbar-brand img {
    height: 3.5rem;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: var(--main-title-color);
    margin-right: .5rem;
}
.collapse .nav-link {
    list-style: none;
}
.nav-link a {
    color: var(--main-title-color);
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-left: 1.5rem;
}
.collapse {
    display: none;
}

/* SHOWCASE */
#showcase {
    display: flex;
    background-color: var(--background-color);
}
#showcase .container {
    display: flex;
    justify-content: space-between;
}
#showcase .container img {
    width: 100%;
    margin-top: 1rem;
    display: none;
}
.content-s {
    align-self: center;
    text-align: center;
    padding: 1.5rem;
   
}

.text h1 {
    margin-bottom: 1.5rem;
    line-height: 3rem;
}

.text p {
    color: var(--main-txt-color);  
}

.btn-primary {
    background-color: var(--cyan-color);
    color: #fff;
}
.btn-primary:hover {
background-color:var(--blue-color);
}

/* ABOUT US */
#about-us .container {
    background:url('img/placehold.male.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top, right;
    position: relative;
    
}

#about-us .container {
    display: flex;
    justify-content: center; 

}
#about-us .container img {
    width: 80%;
    padding-top: 4rem;
    display: none;
}
.content {
    align-self: center;
    /* text-align: left; */
    width: 80%;
    margin-top: 3rem;
}
.color {
    color: var(--blue-color);
}
.line-2 {
    height: .2rem;
    background-color: var(--cyan-color);
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.text-m h1 {
    text-align: start;
}
.paragraph p {
    margin-top: 1rem;
    text-align: start;
    color: #504f4f;
    
}
#nr-info .container {
    display: flex;
    justify-content:space-between;
    margin-top: 2rem; 
    padding-bottom: 1rem;
    
}
#nr-info .container h1 {
    color: var(--blue-color);
    font-size: 30px;
}
#nr-info .container p {
    color: #504f4f;
    
}
#nr-info {
    width: 100%;
    text-align: start;
    margin-right: 1.2rem;
}

/* SERVICES */
#grid-cards .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    row-gap: 1rem;
    align-self: center;
}

.card {
    width: 310px;
    height: 320px;
    flex-direction: column;
}
.cards {
    background-color: #F7F7F7;
    padding-bottom: 2rem;
}
.text-s h1 {
    display: flex;
    justify-content: center;
    padding-top: 4rem;

}
hr {
    height: .2rem;
    border: 0 none;
    background-color: var(--cyan-color);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 1rem;
}
.text-s {
    padding-bottom: 2rem;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin: auto;  
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card:hover > .avatar {
    background-color: var(--blue-color);
    box-shadow: 0px 0px 1px 10px #2ba8ec60;
}
.card:hover {
    box-shadow: 2px 2px 30px 0 var(--background-color);
}
.card-header h3 {
    padding-bottom: 1rem;
}
.card-header {
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
}
.avatar {
    background:var(--cyan-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position:relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tooth-icon img {
    width: 60px;
    height: 60px; 
}


/* APPOINTMENT */
#appointment {
    background-color: #2ba8ec;
    opacity: 80%;
}
.text-appointment h4 {
    color: #fff;
    font-weight: 200;
    /* text-align: center; */
    padding-top: 1rem;
}
.btn-secondary {
    background-color: #fff;
    color: var(--blue-color);
}
#appointment .container {
    text-align: center;
    align-self: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.btn-secondary:hover {
    background-color: var(--blue-color);
    border: 1.5px solid #fff;
    color: #fff;

}

/* SOCIAL ICONS */
#icons .container .mobile-icons {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.2rem;
}

/* FOOTER */

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--blue-color);
    
}

.copy-right {
    color: #F3FBFF;
    opacity: 60%;
    font-size: 13px;
    padding-right: .3rem;
    padding-bottom: .1rem;
    font-weight: 400;
}
.dentalclinic p {
    color:#F3FBFF;
    opacity: 60%;
    font-weight: 400;
    
}
.copy-right-text{
    display: flex;
    justify-content: center;
    align-items: center;

}







/* MEDIA QUERY */


@media (min-width: 600px) {

    .card {
        width: 380px; 
        height: 370px;
    }

    #nr-info .container {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;  
    }
    .info-3 {
        margin-right: 3.5rem;
    }
    #nr-info .container h1 {
        color: var(--blue-color);
        font-size: 35px;
    }
    hr {
        width: 300px;
    }
    
}

@media (min-width: 768px){
    
    .container {
        max-width: 720px;
    }
    .top-nav .container {
        display: flex;
        justify-content: space-between;
    }
    .social-icons {
        display: flex;
    }
    .mobile-icons {
        display: none;
    }
    .collapse {
        display: flex;
    }
    .navbar-toggler {
        display: none;
    }
    
    #nr-info .container h1 {
        color: var(--blue-color);
        font-size: 40px;
    }
    #grid-cards .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 360px;
        height: 360px;
    }
    .text-appointment {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 992px){
    
    .content-s {
        text-align: left;
    }
    #nr-info .container h1 {
        color: var(--blue-color);
        font-size: 40px;
    }
    #showcase .container img {
        display: flex;
    }
    #about-us .container img {
        display: flex;
    }
    #about-us .container {
        justify-content: space-between;
    }
    
    #about-us .container {
        background: #fff;
    }
    #nr-info .container p, .paragraph p {
        color: var(--main-txt-color);
    }
    
    .text {
        padding-left: 5rem;
    }
    .content {
        width: 50%;
    }
    .card {
        width: 370px;
        height: 360px;
    }
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px){
    #grid-cards .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        max-width: 1140px;
    }
}