:root {
    --main-txt-color: #626262;
    --main-title-color: #363636;
    --cyan-color: #25e6c8;
    --blue-color: #2baaec;
    --background-color: #DEDEDE;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--blue-color);
    
}
a:hover {
    color: var(--cyan-color);
}

#clock {
    color: var(--blue-color);
    height: 20px;
    width: 20px;
}


p {
    font-size: 16px;
    color: var(--main-txt-color);
}

.fa-facebook-f {
    width: 14px;
    height: 14.01px;
}
.fa-twitter {
    width: 16px;
    height: 13px;
}
.fa-google-plug-g {
    width: 19.2px;
    height: 12px;
}
.fa-instagram {
    width: 14.01px;
    height: 14px;
}

/* TOPNAV */

.top-nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    
}
.top-nav {
    border: 1px solid #707070;
}

.fab {
    margin-right: 1rem;
    
}
.social-icons {
    display: none;
}
.open-hours {
    display: flex;
    align-items: center;
}

.fa-clock {
    margin-top: .3rem;
    text-align: center;
    margin-right: .5rem;
    margin-left: .5rem;
}

/* HEADER */

.navbar .container, .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2.5rem 1rem;
}
.navbar-brand {
    margin-right: auto;
}
.navbar-brand img {
    height: 3.5rem;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: var(--main-title-color);
    margin-right: .5rem;
}

.nav-link {
    list-style: none;
    margin: 1rem;
    
}
.nav-link a {
    color: var(--main-title-color);
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.collapse {
    display: none;
}

/* SHOWCASE */
#showcase {
    background-color: var(--background-color);
    min-height: 50vh;
}
#showcase .container {
    display: flex;
    justify-content: space-around;
}
#showcase .container img {
    height: 616.38px;
    width: 679.46px;
    margin-top: 1rem;
    display: none;

}
.content {
    align-self: center;
    text-align: left;
    padding: 5rem;
    

}
.text h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
    color: var(--main-title-color);
    margin-bottom: 1.5rem;
}
.text p {
    color: var(--main-txt-color);
   
}
.btn {
    padding: .75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    margin-top: 1.5rem;
    

}
.btn-primary {
    background-color: var(--cyan-color);
    color: #fff;
}
.btn-primary:hover {
background-color:#39ddc5;
}

@media (min-width: 768px){

    .top-nav .container {
        display: flex;
        justify-content: space-between;
        
    }
    .social-icons {
        display: flex;
    }
    .collapse {
        display: flex;
    }
    .navbar-toggler {
        display: none;
    }
    .navbar-brand img {
        height: 5rem;
    }

    #showcase .container img {
        display: flex;
    }

    .text h1 {
        font-size: 2.5rem;
    }
    .container {
        max-width: 720px;
    }
}


@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}


@media (min-width:1200px){
    .container {
        max-width: 1140px;
    }
}